@model MayerP4.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h2>Message Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            Message:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfRequest)
        </dt>
            @Html.DisplayFor(model => model.TypeOfRequest)
        <dt>
            App Type:
        </dt>
        <dd>
            <ul>
                @if (Model.IsWebApp)
                {
                    <li>Web App</li>
                }
                @if (Model.IsPhoneApp)
                {
                    <li>Phone App</li>
                }
                @if (Model.IsWindowsApp)
                {
                    <li>Windows App</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
