@model MayerP4.Models.Message

@{
    ViewData["Title"] = "Message Detail";
}
<h2><i class="fas fa-envelope-open"></i> Message Detail</h2>
<div class="panel panel-success">
    <h4 style="padding: 10px;">Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            From:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text):
        </dt>
        <dd>
            @Html.Raw(Model.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to inbox</a>
</div>
